
Backend/maindb.db
Backend/DataReader/.vs/DataReader/FileContentIndex/read.lock
Backend/DataReader/.vs/DataReader/FileContentIndex/ecf6d3dc-b313-4018-92ec-8825d148e3ae.vsidx
Backend/DataReader/.vs/DataReader/FileContentIndex/91cb7336-4e5e-404a-8c5c-7b9892124646.vsidx
Backend/DataReader/.vs/DataReader/FileContentIndex/589821f2-2bee-4016-9c55-1e265b08962f.vsidx
Backend/DataReader/.vs/DataReader/FileContentIndex/1a4955a0-c350-4f75-8d94-a227da629306.vsidx
