.ex-container{
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: 300px;
    grid-auto-rows: 350px;
    grid-auto-flow: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
}
.aglo-head{
    color:rgb(143, 143, 143);
    padding: 5px;
    padding-left: 15px;
    margin:5px;
    background-color: rgb(224, 224, 224);
    text-align: start;
}
