.schema-wrapper{

}
.schema-svg{
    background-color: white;
    position: absolute;
    width: 1920px;
    height: 900px;
    top: 0;
    z-index: 2;
    left: 0;
}
.schema-bear-data{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
.schema-key-value{
    width: 110px ;
    height: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.schema-key-value div{
    text-align: center;
}
.schema-value{
    position: absolute;
    z-index: 10;
    color:white;
    font-size: 15px;
}